body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: dimgray;
    margin: 0;
}

header {
    background-color: #fff;
    padding: 10px;
    margin: 10px;
}

nav {
    background-color: rgb(92, 92, 92);
    padding: 3px;
    box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.486);
}

nav > a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    margin-right: 20px;
}

nav > a:hover {
    text-decoration: underline;
}

main {
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px  rgba(0, 0, 0, 0.486);
}

article {
    background-color: lightgrey;
    padding: 5px;
}

article > aside {
    background-color: rgb(145, 144, 144);
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
}

footer > p {
    margin: 0;
}