/* SELETORES PERSONALIZADOS
            # = id
            . = class 
            : = pseudo-class
            :: = pseudo: element
            >  = clildren
        */

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: rgb(0, 158, 221);
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    color: #f44336;
}

a:hover {
    color: #000;
    text-decoration: underline;
}

a:active {
    color: blue;
}

.especial {
    background-color: #fc877f5b;
}

.especial::before {
    content: '⇒';
}

.especial::after {
    content: '⇐	';
}

.flutuar {
    padding: .1em 1em;
    background-color: #02ff4e;
    border-radius: 5px;
    transition: .3s;
}

.flutuar:hover {
    background-color: #f44336;
}

.voltar {
    padding: .4rem 1rem;
    background-color: rgb(218, 82, 58);
    color: white;
    text-decoration: none;
    border-radius: .2rem;
    transition: .2s;
}

.voltar:hover {
    font-size: 14pt;
    box-shadow: 0 .3rem .8rem rgba(0, 0, 0, 0.418);
}

.botao {
    margin-top: 2rem;
}

.botao a {
    background-color: #f44336;
    color: white;
    padding: .5rem 1.8rem;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    transition: .2s;
    }

.botao a:hover {
    background-color: rgb(230, 2, 2);
    color: white;
}